*/node_modules
api-gateway/dist
classifier-app/.cache
classifier-app/dist
listings-service/dist
terraform/.terraform
terraform/terraform.tfvars
terraform/microservices_demo.key
terraform/microservices_demo.pem
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
users-service/dist
