*/node_modules
*/.deploy.env
*/.env
*/.production.env
api-gateway/dist
classifieds-app/.cache
classifieds-app/dist
classifieds-app/deploy.sh
classifieds-app/.env
listings-service/dist
terraform/.terraform
terraform/terraform.tfvars
terraform/microservices_demo.key
terraform/microservices_demo.pem
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
users-service/dist
